
// Fonts
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


@import "./admin/admin.scss";
@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");



.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.image{
  width: 5rem;
  height: 5rem;
  background-size: cover;
  background-position: center;
}

html {
  font-size: 0.8rem;
  color: #404040;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
}