@import "./client/header.scss";
@import "./client/home.scss";
@import "./client/faq.scss";
@import "./client/about.scss";
@import "./client/press.scss";
@import "./client/press-detail.scss";
@import "./client/investee.scss";
@import "./client/apply.scss";
@import "./client/contact-form.scss";

@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Kantumruy:400,700&display=swap");

html {
  font-size: 0.8rem;
  color: #404040;
}

* {
  padding: 0;
  margin: 0;
  font-family: Ubuntu, Kantumruy, sans-serif;
  box-sizing: border-box;
}

body {
  padding-top: 4rem;
}

section {
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem;

  .title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }

  .description {
    margin-bottom: 2rem;
  }
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.btn {
  appearance: none;
  border: unset;
  outline: unset;
  height: 3rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: 0.35s;

  padding: 0rem 2rem;

  &:hover {
    filter: brightness(110%);
  }

  &:active {
    filter: brightness(120%);
  }
}

.image,
.icon {
  background-size: cover;
  background-position: center;
}

cover {
  display: none;
}

.spacer {
  flex-grow: 1;
}

.rich {
  div {
    background-color: $smart !important;
    color: #fff !important;
    border: unset !important;
    padding: 1rem !important;
  }

  a {
    color: $smart;
  }

  del {
    color: $smart;
  }

  p {
    line-height: 1.5rem;
  }

  .marker {
    background-color: $smart;
    color: #fff;
  }
}

input,
textarea {
  font-size: 0.8rem;
}
.alert {
  width: 100vw;
  height: 3rem;
  background-color: $smart;
  font-weight: bold;
  text-align: center;
  line-height: 3rem;
  color: #fff;
}

.capitalize {
  text-transform: capitalize;
}

.hide-web {
  display: flex;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 1rem;
  }

  section {
    padding: 5vw 10vw;
    .title {
      text-align: center;
    }

    > .description {
      text-align: center;
    }
  }

  cover {
    width: 100vw;
    height: 60vh;
    display: block;

    background-color: #eee;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 0;
  }

  .hide-web {
    display: none;
  }
}
