@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap);@import url(https://fonts.googleapis.com/css?family=Kantumruy:400,700&display=swap);.header {
  width: 100vw;
  height: 4rem;
  box-shadow: 0 -2px 10px #ccc;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  z-index: 1000;
}

.header .image {
  height: 100%;
  width: 13rem;
  background-size: contain;
  background-origin: content-box;
  background-repeat: no-repeat;
  background-position: 0 0;
  padding: 0.5rem 0 0.5rem 3rem;
}

.header .item {
  position: relative;
}

.header .item::after {
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.header .btn-ctn {
  height: 4rem;
  width: 4rem;
}

.header .btn-ctn .menu-btn {
  height: 4rem;
  width: 4rem;
  border-radius: unset;
  background-size: contain;
  background-origin: content-box;
  background-repeat: no-repeat;
  padding: 1rem;
  position: absolute;
  top: 0;
  right: 0;
}

.header .btn-ctn .menu-btn.close {
  padding: 1.2rem;
}

.header .btn-ctn .menu-btn.hide {
  display: none;
}

.header .btn-ctn .menu-btn.unhide {
  display: unset;
}

.header .btn-ctn .menu-btn.animate-out {
  -webkit-animation: fade-out 0.5s ease-in-out;
          animation: fade-out 0.5s ease-in-out;
}

.header .btn-ctn .menu-btn.animate-in {
  -webkit-animation: fade-in 0.5s ease-in-out;
          animation: fade-in 0.5s ease-in-out;
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
    -webkit-transform: rotateZ(0deg) scale(1);
            transform: rotateZ(0deg) scale(1);
  }

  100% {
    opacity: 0;
    -webkit-transform: rotateZ(360deg) scale(0.3);
            transform: rotateZ(360deg) scale(0.3);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    -webkit-transform: rotateZ(0deg) scale(1);
            transform: rotateZ(0deg) scale(1);
  }

  100% {
    opacity: 0;
    -webkit-transform: rotateZ(360deg) scale(0.3);
            transform: rotateZ(360deg) scale(0.3);
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
    -webkit-transform: rotateZ(0deg) scale(0.3);
            transform: rotateZ(0deg) scale(0.3);
  }

  100% {
    opacity: 1;
    -webkit-transform: rotateZ(360deg) scale(1);
            transform: rotateZ(360deg) scale(1);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    -webkit-transform: rotateZ(0deg) scale(0.3);
            transform: rotateZ(0deg) scale(0.3);
  }

  100% {
    opacity: 1;
    -webkit-transform: rotateZ(360deg) scale(1);
            transform: rotateZ(360deg) scale(1);
  }
}

.header .mobile-menu {
  width: 100vw;
  background-color: #fff;
  position: fixed;
  top: 4rem;
  left: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  box-shadow: 0 2px 2px #aaa;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden;
}

.header .mobile-menu .item {
  font-size: 1.2rem;
  line-height: 3rem;
  padding-left: 3rem;
}

.header .mobile-menu.hide {
  max-height: 0px;
}

.header .mobile-menu.unhide {
  max-height: 19rem;
}

.header .mobile-menu .apply-now {
  height: 2rem;
  width: 7rem;
  line-height: calc(2rem - 3px);
  font-weight: bolder;
  font-size: 0.8rem;
  border: 1.5px solid #009a3e;
  color: #009a3e;
  margin-left: 3rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 0;
  text-align: center;
}

.header .mobile-menu .apply-now:hover {
  background-color: #009a3e;
  color: #fff;
}

.header .web-menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .header .btn-ctn {
    display: none;
  }

  .header .mobile-menu {
    display: none;
  }

  .header .web-menu {
    display: -webkit-box;
    display: flex;
    -webkit-box-flex: 1;
            flex-grow: 1;
    -webkit-box-align: center;
            align-items: center;
  }

  .header .web-menu .item {
    font-size: 1rem;
    line-height: 3rem;
    padding: 0 1rem;
    height: 3rem;
    border-radius: 0px;
    position: relative;
  }

  .header .web-menu .item.active::after {
    max-width: 1rem;
  }

  .header .web-menu .item::after {
    content: "";
    background-color: #009a3e;
    width: calc(100% - 2rem);
    height: 3px;
    max-width: 0;
    position: absolute;
    left: 1rem;
    bottom: 0.5rem;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  .header .web-menu .item:hover::after {
    max-width: 100%;
  }

  .header .web-menu .apply-now {
    height: 2rem;
    line-height: calc(2rem - 4px);
    font-weight: bolder;
    font-size: 0.8rem;
    border: 1.5px solid #009a3e;
    color: #009a3e;
    margin: 1rem 3rem 1rem 0;
  }

  .header .web-menu .apply-now:hover {
    background-color: #009a3e;
    color: #fff;
  }
}

html {
  scroll-behavior: smooth;
}

.home section#objective {
  scroll-margin: 4rem;
  padding-top: 0;
}

.home section.cover .content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
          flex-direction: column-reverse;
}

.home section.cover .content .left .title {
  color: #009a3e;
  font-size: 2rem;
}

.home section.cover .content .left .description {
  margin-bottom: 0;
}

.home section.cover .content .left .btn-ctn .item {
  width: 10rem;
  padding: 0;
}

.home section.cover .content .left .btn-ctn .item + .item {
  margin-left: 1rem;
}

.home section.cover .content .left .btn-ctn .item .icon {
  flex-basis: 3rem;
  height: 3rem;
  width: 3rem;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 1rem;
}

.home section.cover .content .left .btn-ctn .item .label {
  flex-basis: calc(100% - 4rem);
  height: 3rem;
  line-height: 3rem;
}

.home section.cover .right {
  margin: -2rem -3rem;
  margin-bottom: 2rem;
}

.home section.cover .right .video {
  width: 100vw;
  height: calc(100vw / 16 * 9);
}

.home section.cover .image {
  width: 100vw;
  height: 100vw;
  display: none;
  background-color: #eee;
  background-position: center 0;
  margin: -2rem -3rem;
  margin-bottom: 2rem;
}

.home section .container {
  display: grid;
  grid-gap: 2rem 4rem;
  grid-template-columns: calc(50% - 2rem) calc(50% - 2rem);
}

.home section .container .col .row {
  -webkit-box-align: end;
          align-items: flex-end;
  margin-bottom: 1rem;
}

.home section .container .col .row .icon {
  width: 4rem;
  height: 4rem;
  flex-basis: 4rem;
  margin-right: 1rem;
}

.home section .container .col .row .subtitle {
  flex-basis: calc(100% - 5rem);
  font-size: 1.3rem;
  color: #009a3e;
}

.home .our-values {
  color: #fff;
  background-color: #009a3e;
}

.home .our-values .subtitle {
  color: #fff !important;
}

.home .investment-portfolio .image {
  width: 100%;
}

.home .application-process .container .col .number {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.home .application-process .container .col .subtitle {
  color: #009a3e;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 1rem;
}

.home .application-process .apply-now {
  border: 2px solid #009a3e;
  font-weight: bold;
  color: #009a3e;
  width: 12rem;
  align-self: center;
  font-size: 0.8rem;
  line-height: calc(3rem - 2px);
  text-align: center;
}

.home .application-process .apply-now:hover {
  background-color: #009a3e;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .home section#objective {
    padding-top: 5vw;
  }

  .home section.cover {
    height: unset;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
            flex-direction: column-reverse;
  }

  .home section.cover .content {
    width: 100%;
    height: calc(100vh - 4rem - 10vw);
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-pack: justify;
            justify-content: space-between;
  }

  .home section.cover .content .left {
    flex-basis: 40%;
    -webkit-box-pack: center;
            justify-content: center;
  }

  .home section.cover .content .left .title {
    color: #009a3e;
    font-size: 2rem;
    text-align: left;
  }

  .home section.cover .content .right {
    flex-basis: 55%;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
  }

  .home section.cover .content .right .video {
    width: 100%;
    height: calc(90vw * 0.55 / 16 * 9);
  }

  .home section.cover .image {
    width: 100vw;
    height: 80vh;
    display: block;
    background-color: #eee;
    background-position: center 0;
    margin: -5vw -10vw;
    margin-top: 5vw;
  }

  .home section > .description {
    padding: 0 10vw;
    margin-bottom: 5rem;
  }

  .home section .container {
    grid-template-columns: calc(25% - (6rem / 4)) calc(25% - (6rem / 4)) calc(25% - (6rem / 4)) calc(25% - (6rem / 4));
  }

  .home section.hover .container {
    grid-gap: 2rem;
  }

  .home section.hover .container.yellow .item {
    background-color: #ffd300;
  }

  .home section.hover .container.yellow .item::after {
    background-color: #009a3e;
  }

  .home section.hover .container.yellow .item .row {
    background-color: #009a3e;
  }

  .home section.hover .container.yellow .item .col.description {
    color: #404040;
  }

  .home section.hover .container .item {
    position: relative;
    height: 10rem;
    background-color: #009a3e;
    padding: 1rem;
    -webkit-transition: 0.35s;
    transition: 0.35s;
  }

  .home section.hover .container .item::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 3rem;
    height: 3rem;
    top: -2.1rem;
    right: 0;
    -webkit-transform: skewY(30deg);
            transform: skewY(30deg);
  }

  .home section.hover .container .item:hover .row {
    opacity: 0;
  }

  .home section.hover .container .item:hover .col.description p {
    max-height: 8rem;
  }

  .home section.hover .container .item .row {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin-bottom: 0;
    -webkit-box-align: center;
            align-items: center;
    background-color: #fff;
    z-index: 1;
    cursor: pointer;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  .home section.hover .container .item .row .icon {
    margin-left: 1rem;
  }

  .home section.hover .container .item .row .subtitle {
    flex-basis: calc(100% - 6rem);
  }

  .home section.hover .container .item .col.description {
    -webkit-box-pack: center;
            justify-content: center;
    height: 100%;
    color: #fff;
    margin-bottom: 0;
  }

  .home section.hover .container .item .col.description p {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: 0.5s 0.3s;
    transition: 0.5s 0.3s;
  }

  .home .application-process .container {
    grid-template-columns: auto auto auto;
  }
}

.faq section .title {
  text-align: left;
}

.faq section .question {
  color: #009a3e;
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.faq section .answer {
  margin-bottom: 1rem;
}

.faq section .link {
  font-weight: bold;
  color: #009a3e;
  cursor: pointer;
}

.about-us .intro .container {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.about-us .intro .container .company {
  margin-top: 3rem;
  cursor: pointer;
}

.about-us .intro .container .company + .company {
  padding-top: 0;
}

.about-us .intro .container .company .image {
  height: 4rem;
  width: 10rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 center;
  margin-bottom: 1rem;
}

.about-us .intro .container .company .title {
  font-size: 1.2rem;
}

.about-us .intro .container .company .title.smart {
  color: #009a3e;
}

.about-us .intro .container .company .title.mekong {
  color: #00689B;
}

.about-us .intro .container .company .title.forte {
  color: #D41247;
}

.about-us .team .subtitle {
  font-weight: bold;
  font-size: 1.2rem;
  text-align: left;
  margin-bottom: 2rem;
}

.about-us .team .subtitle.fund {
  margin-top: 5vw;
}

.about-us .team .description {
  margin-bottom: 5vw;
}

.about-us .team .container {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.about-us .team .container .profile {
  width: calc(50% - 1rem);
  margin-bottom: 2rem;
}

.about-us .team .container .profile .image {
  width: 100%;
  padding-bottom: 100%;
  background-color: #eee;
  margin-bottom: 1rem;
}

.about-us .team .container .profile .name {
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .about-us .intro .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-pack: justify;
            justify-content: space-between;
  }

  .about-us .intro .container .company {
    width: 30%;
  }

  .about-us .intro .container .company .title {
    text-align: left;
  }

  .about-us .team .subtitle {
    text-align: center;
  }

  .about-us .team .container {
    -webkit-box-pack: space-evenly;
            justify-content: space-evenly;
  }

  .about-us .team .container .profile {
    width: 27%;
  }
}

.press .title {
  margin-bottom: 2rem;
}

.press .press-listing .press-item {
  width: 100%;
  height: 15rem;
  -webkit-box-pack: justify;
          justify-content: space-between;
  margin-bottom: 2rem;
}

.press .press-listing .press-item .image {
  flex-basis: 15rem;
  width: 15rem;
  height: 15rem;
  background-color: #eee;
}

.press .press-listing .press-item .info {
  width: calc(100% - 17rem);
  flex-basis: calc(100% - 17rem);
}

.press .press-listing .press-item .info .date {
  flex-basis: 1rem;
  line-height: 1rem;
  margin-bottom: 0.5rem;
}

.press .press-listing .press-item .info .title {
  flex-basis: 2rem;
  line-height: 2rem;
  height: 2rem;
  width: calc(100%);
  margin-bottom: 2rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.press .press-listing .press-item .info .description {
  flex-basis: 4.5rem;
  line-height: 1.5rem;
  overflow: hidden;
}

.press .press-listing .press-item .info .submit {
  flex-basis: 2.5rem;
  line-height: 2.5rem;
  font-weight: bold;
  color: #fff;
  background-color: #009a3e;
  width: 7rem;
  padding: 0 0.5rem;
}

@media screen and (min-width: 768px) {
  .press .press-listing .title {
    text-align: left;
  }

  .press .press-listing .press-item .image {
    flex-basis: calc(15rem / 9 * 16);
    width: calc(15rem / 9 * 16);
  }

  .press .press-listing .press-item .info {
    width: calc(100% - (15rem / 9 * 16) - 4rem);
    flex-basis: calc(100% - (15rem / 9 * 16) - 4rem);
  }

  .press .press-listing .press-item .info .title {
    width: 100%;
  }

  .press .press-listing .press-item .info .description {
    line-height: 1.5rem;
    height: 4.5rem;
  }
}

.press-detail section.container .date {
  margin-bottom: 0.5rem;
}

.press-detail section.container .title {
  text-align: left;
}

.press-detail section.container .description {
  text-align: left;
  line-height: 1.5rem;
}

.press-detail section.container .image {
  width: 100%;
  padding-bottom: calc(100% / 16 * 9);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #eee;
  margin-bottom: 2rem;
}

.press-detail section.container .content {
  margin-bottom: 2rem;
}

.investee .investee-listing {
  display: none;
}

.investee .investee-swiper {
  display: block;
}

.investee .investee-swiper .title {
  line-height: 2rem;
  margin-bottom: 1rem;
}

.investee .investee-swiper .swiper-container {
  width: 100%;
  height: calc(100vh - 4rem - 4rem - 4rem - 4rem);
}

.investee .investee-swiper .swiper-container .swiper-pagination-bullet-active {
  background-color: #009a3e;
}

.investee .investee-swiper .swiper-container .ctn {
  width: 100%;
  height: 100%;
  padding: 5px;
  padding-bottom: 3rem;
}

.investee .investee-swiper .swiper-container .ctn .card {
  width: 100%;
  height: 100%;
  border-radius: 3rem;
  box-shadow: 0 0 5px #aaa;
  background-color: #fff;
}

.investee .investee-swiper .swiper-container .ctn .card .image {
  width: 100%;
  height: 40%;
  border-radius: 3rem 3rem 0 0;
  border-bottom: 1px solid #aaa;
  background-size: 101%;
}

.investee .investee-swiper .swiper-container .ctn .card .content {
  -webkit-box-flex: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
          justify-content: center;
  padding: 2rem 3rem;
  position: relative;
}

.investee .investee-swiper .swiper-container .ctn .card .content .logo {
  height: 3rem;
  width: 100%;
  background-size: contain;
  background-position: 0 center;
  background-repeat: no-repeat;
  margin-bottom: 1rem;
}

.investee .investee-swiper .swiper-container .ctn .card .content .title {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 1rem;
}

.investee .investee-swiper .swiper-container .ctn .card .content .detail {
  margin-bottom: 1rem;
}

.investee .investee-swiper .swiper-container .ctn .card .content .detail .icon {
  flex-basis: 3rem;
  width: 3rem;
  height: 3rem;
}

.investee .investee-swiper .swiper-container .ctn .card .content .detail .info {
  flex-basis: calc(100% - 3rem - 1rem);
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  margin-left: 1rem;
}

.investee .investee-swiper .swiper-container .ctn .card .content .detail.website {
  cursor: pointer;
}

.investee .investee-swiper .swiper-container .ctn .card .content .label {
  font-weight: bold;
  position: absolute;
  top: -4rem;
  right: 1rem;
  width: 3rem;
  height: 3rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: content-box;
  border-radius: 50%;
  padding: 0px;
}

@media screen and (min-width: 768px) {
  .investee .investee-swiper {
    display: none;
  }

  .investee .investee-listing {
    display: -webkit-box;
    display: flex;
  }

  .investee .investee-listing .title {
    text-align: left;
  }

  .investee .investee-listing .investee-item {
    margin-bottom: 5vw;
  }

  .investee .investee-listing .investee-item .logo {
    height: 4rem;
    width: 15rem;
    background-size: contain;
    background-position: 0 center;
    background-repeat: no-repeat;
    margin-bottom: 1rem;
  }

  .investee .investee-listing .investee-item .row .left {
    flex-basis: calc(100% - 28.44rem - 5vw);
    width: 100%;
    margin-right: 5rem;
  }

  .investee .investee-listing .investee-item .row .left .title {
    font-size: 1.2rem;
    line-height: 2rem;
    margin-bottom: 2rem;
  }

  .investee .investee-listing .investee-item .row .left .detail {
    margin-bottom: 1rem;
  }

  .investee .investee-listing .investee-item .row .left .detail .icon {
    flex-basis: 3rem;
    width: 3rem;
    height: 3rem;
  }

  .investee .investee-listing .investee-item .row .left .detail .info {
    flex-basis: calc(100% - 3rem - 1rem);
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
            justify-content: center;
    margin-left: 1rem;
  }

  .investee .investee-listing .investee-item .row .left .detail.website {
    cursor: pointer;
  }

  .investee .investee-listing .investee-item .row .left .submit {
    flex-basis: 2.5rem;
    line-height: 2.5rem;
    font-weight: bold;
    color: #fff;
    background-color: #009a3e;
    width: 7rem;
    padding: 0 0.5rem;
  }

  .investee .investee-listing .investee-item .row .image {
    flex-basis: calc(18.5rem / 9 * 16);
    width: calc(18.5rem / 9 * 16);
    height: 18.5rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #eee;
  }
}

.apply-now section.apply {
  padding: 5vw 20vw;
}

.apply-now section .title {
  text-align: left;
}

.apply-now section .description {
  text-align: left;
}

.apply-now section form.submitted input:required:focus {
  border-bottom: 1px solid #D41247;
}

.apply-now section form.submitted input:required:focus::-webkit-input-placeholder {
  color: #D41247;
}

.apply-now section form.submitted input:required:focus::-moz-placeholder {
  color: #D41247;
}

.apply-now section form.submitted input:required:focus:-ms-input-placeholder {
  color: #D41247;
}

.apply-now section form.submitted input:required:focus::-ms-input-placeholder {
  color: #D41247;
}

.apply-now section form.submitted input:required:focus::placeholder {
  color: #D41247;
}

.apply-now section form .input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: unset;
  outline: unset;
  line-height: 2.5rem;
  border-bottom: 1px solid #404040;
  padding: 0 1rem;
  font-size: 1rem;
  margin-bottom: 2rem;
  -webkit-transition: 0.35s;
  transition: 0.35s;
}

.apply-now section form .input:hover {
  background-color: #fafafa;
}

.apply-now section form .input:focus {
  background-color: #efefef;
  border-bottom: 1px solid #009a3e;
}

.apply-now section form .input.radio {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center;
  border-bottom: unset;
}

.apply-now section form .input.radio:hover {
  background-color: unset;
}

.apply-now section form .input.radio .radio {
  margin-right: 1rem;
}

.apply-now section form .input.radio label {
  margin-right: 2rem;
}

.apply-now section form > label {
  margin-bottom: 1rem;
}

.apply-now section form .agree {
  -webkit-box-align: center;
          align-items: center;
}

.apply-now section form .agree .checkbox {
  margin-right: 1rem;
}

.apply-now section form .row {
  margin-bottom: 2rem;
}

.apply-now section form .submit {
  border: 2px solid #009a3e;
  font-weight: bold;
  color: #009a3e;
  width: 12rem;
  align-self: center;
  font-size: 0.8rem;
}

.apply-now section form .submit:hover {
  background-color: #009a3e;
  color: #fff;
}

.contact-form {
  background-color: #404040;
  color: #fff;
  padding: 4rem 3rem;
  position: relative;
}

.contact-form .title {
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.contact-form .col.left {
  margin-bottom: 2rem;
}

.contact-form .col.left .subtitle {
  font-weight: bold;
  margin-bottom: 1rem;
}

.contact-form .col.left .row {
  margin-bottom: 1rem;
}

.contact-form .col.left .row .icon {
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.contact-form .col.left .row .text {
  line-height: 2rem;
}

.contact-form .col.left .images {
  position: absolute;
  bottom: 4rem;
  left: 3rem;
  height: 3rem;
  width: 100%;
  background-size: contain;
  background-position: 0 center;
  background-repeat: no-repeat;
}

.contact-form .col.right {
  padding-bottom: 5rem;
}

.contact-form .col.right form .input {
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  background-color: #fff;
  -webkit-appearance: none;
  color: #404040;
  outline: unset;
  border: unset;
  border-radius: 1rem;
  padding: 0 1.5rem;
  margin-bottom: 1rem;
}

.contact-form .col.right form .input.text {
  padding-top: 0.9rem;
  line-height: 1.2rem;
  height: 6rem;
}

.contact-form .col.right form .submit {
  background-color: #404040;
  color: #fff;
  font-weight: bold;
  font-size: 0.8rem;
  text-transform: uppercase;
  border: 2px solid #fff;
}

@media screen and (min-width: 768px) {
  .contact-form.col {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    padding: 5vw 10vw;
  }

  .contact-form.col .col {
    flex-basis: calc(50% - 2rem);
  }

  .contact-form.col .col.left {
    margin-right: 5vw;
    margin-bottom: 0;
    padding-bottom: 3rem;
  }

  .contact-form.col .col.left .images {
    bottom: 5vw;
    left: 10vw;
  }

  .contact-form.col .col.right {
    padding-bottom: 0rem;
  }
}

html {
  font-size: 0.8rem;
  color: #404040;
}

* {
  padding: 0;
  margin: 0;
  font-family: Ubuntu, Kantumruy, sans-serif;
  box-sizing: border-box;
}

body {
  padding-top: 4rem;
}

section {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding: 2rem 3rem;
}

section .title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

section .description {
  margin-bottom: 2rem;
}

.row {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}

.col {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: unset;
  outline: unset;
  height: 3rem;
  border-radius: 1rem;
  cursor: pointer;
  -webkit-transition: 0.35s;
  transition: 0.35s;
  padding: 0rem 2rem;
}

.btn:hover {
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
}

.btn:active {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

.image,
.icon {
  background-size: cover;
  background-position: center;
}

cover {
  display: none;
}

.spacer {
  -webkit-box-flex: 1;
          flex-grow: 1;
}

.rich div {
  background-color: #009a3e !important;
  color: #fff !important;
  border: unset !important;
  padding: 1rem !important;
}

.rich a {
  color: #009a3e;
}

.rich del {
  color: #009a3e;
}

.rich p {
  line-height: 1.5rem;
}

.rich .marker {
  background-color: #009a3e;
  color: #fff;
}

input,
textarea {
  font-size: 0.8rem;
}

.alert {
  width: 100vw;
  height: 3rem;
  background-color: #009a3e;
  font-weight: bold;
  text-align: center;
  line-height: 3rem;
  color: #fff;
}

.capitalize {
  text-transform: capitalize;
}

.hide-web {
  display: -webkit-box;
  display: flex;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 1rem;
  }

  section {
    padding: 5vw 10vw;
  }

  section .title {
    text-align: center;
  }

  section > .description {
    text-align: center;
  }

  cover {
    width: 100vw;
    height: 60vh;
    display: block;
    background-color: #eee;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 0;
  }

  .hide-web {
    display: none;
  }
}

