@import "../variables";

.about-us {
  .intro {
    .container {
      display: flex;
      flex-direction: column;
      .company {
        margin-top: 3rem;

        cursor: pointer;
        & + .company {
          padding-top: 0;
        }

        .image {
          height: 4rem;
          width: 10rem;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: 0 center;

          margin-bottom: 1rem;
        }

        .title {
          font-size: 1.2rem;
          &.smart {
            color: $smart;
          }

          &.mekong {
            color: $mekong;
          }

          &.forte {
            color: $forte;
          }
        }
      }
    }
  }

  .team {
    .subtitle {
      font-weight: bold;
      font-size: 1.2rem;
      text-align: left;

      margin-bottom: 2rem;

      &.fund {
        margin-top: 5vw;
      }
    }

    .description{
      margin-bottom: 5vw;
    }

    .container {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      .profile {
        width: calc(50% - 1rem);

        margin-bottom: 2rem;


        .image {
          width: 100%;
          padding-bottom: 100%;

          background-color: #eee;
          margin-bottom: 1rem;
        }

        .name {
          font-weight: bold;
          font-size: 1.2rem;
          text-transform: uppercase;
          width: 100%;
        }
      }
    }
  }

  @media screen and (min-width: 768px) {
    .intro {
      .container {
        flex-direction: row;
        justify-content: space-between;
        .company {
          width: 30%;
          .title {
            text-align: left;
          }
        }
      }
    }

    .team {
      .subtitle{
        text-align: center;
      }

      .container {
        justify-content: space-evenly;

        .profile{
          width: 27%;
        }

      }
    }
  }
}
