@import "../variables";

.apply-now {
  section {
    &.apply {
      padding: 5vw 20vw;
    }

    .title {
      text-align: left;
    }

    .description {
      text-align: left;
    }
    form {
      &.submitted {
        input {
          &:required:focus {
            border-bottom: 1px solid $forte;
          }

          &:required:focus::placeholder {
            color: $forte;
          }
        }
      }
      .input {
        appearance: none;
        border: unset;
        outline: unset;

        line-height: 2.5rem;
        border-bottom: 1px solid #404040;
        padding: 0 1rem;
        font-size: 1rem;

        margin-bottom: 2rem;
        transition: 0.35s;

        &:hover {
          background-color: #fafafa;
        }

        &:focus {
          background-color: #efefef;
          border-bottom: 1px solid $smart;
        }

        &.radio {
          display: flex;
          flex-direction: row;
          align-items: center;

          border-bottom: unset;
          &:hover {
            background-color: unset;
          }
          .radio {
            margin-right: 1rem;
          }

          label {
            margin-right: 2rem;
          }
        }
      }

      > label {
        margin-bottom: 1rem;
      }

      .agree {
        align-items: center;

        .checkbox {
          margin-right: 1rem;
        }
      }

      .row {
        margin-bottom: 2rem;
      }

      .submit {
        border: 2px solid $smart;
        font-weight: bold;
        color: $smart;
        width: 12rem;
        align-self: center;
        font-size: 0.8rem;

        &:hover {
          background-color: $smart;
          color: #fff;
        }
      }
    }
  }
}
