.contact-form {
  background-color: #404040;
  color: #fff;

  padding: 4rem 3rem;
  position: relative;

  .title {
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;

    margin-bottom: 1rem;
  }

  .col {
    &.left {
      margin-bottom: 2rem;

      .subtitle {
        font-weight: bold;
        margin-bottom: 1rem;
      }

      .row {
        margin-bottom: 1rem;
        .icon {
          height: 2rem;
          width: 2rem;
          margin-right: 1rem;
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
        }

        .text {
          line-height: 2rem;
        }
      }

      .images {
        position: absolute;
        bottom: 4rem;
        left: 3rem;

        height: 3rem;
        width: 100%;
        background-size: contain;
        background-position: 0 center;
        background-repeat: no-repeat;
      }
    }

    &.right {
      padding-bottom: 5rem;
      form {
        .input {
          width: 100%;
          height: 3rem;
          line-height: 3rem;
          background-color: #fff;
          -webkit-appearance: none;
          color: #404040;
          outline: unset;
          border: unset;
          border-radius: 1rem;

          padding: 0 1.5rem;
          margin-bottom: 1rem;

          &.text {
            padding-top: 0.9rem;
            line-height: 1.2rem;
            height: 6rem;
          }
        }

        .submit {
          background-color: #404040;
          color: #fff;
          font-weight: bold;
          font-size: 0.8rem;
          text-transform: uppercase;
          border: 2px solid #fff;
        }
      }
    }
  }
  @media screen and (min-width: 768px) {
    &.col {
      flex-direction: row;

      padding: 5vw 10vw;
      .col {
        flex-basis: calc(50% - 2rem);
        &.left {
          margin-right: 5vw;
          margin-bottom: 0;
          padding-bottom: 3rem;

          .images {
            bottom: 5vw;
            left: 10vw;
          }
        }

        &.right {
          padding-bottom: 0rem;
        }
      }
    }
  }
}
