@import "../variables";

.faq {
  section {
    .title{
      text-align: left;
    }

    .question{
      color: $smart;
      font-weight: bold;
      margin-bottom: .25rem;
    }

    .answer{
      margin-bottom: 1rem;
    }

    .link{
      font-weight: bold;
      color: $smart;
      cursor: pointer;
      
    }
  }
}
