@import "../variables";

.header {
  width: 100vw;
  height: 4rem;
  box-shadow: 0 -2px 10px #ccc;
  background-color: #fff;

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  z-index: 1000;

  .image {
    height: 100%;
    width: 13rem;

    background-size: contain;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-position: 0 0;

    padding: 0.5rem 0 0.5rem 3rem;
  }

  .item {
    position: relative;
    &::after {
      width: 100%;
      height: 2px;

      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  .btn-ctn {
    height: 4rem;
    width: 4rem;
    .menu-btn {
      height: 4rem;
      width: 4rem;
      border-radius: unset;

      background-size: contain;
      background-origin: content-box;
      background-repeat: no-repeat;

      padding: 1rem;
      position: absolute;
      top: 0;
      right: 0;

      &.open {
      }

      &.close {
        padding: 1.2rem;
      }

      &.hide {
        display: none;
      }

      &.unhide {
        display: unset;
      }

      &.animate-out {
        animation: fade-out 0.5s ease-in-out;
      }

      &.animate-in {
        animation: fade-in 0.5s ease-in-out;
      }
    }
  }

  @keyframes fade-out {
    0% {
      opacity: 1;
      transform: rotateZ(0deg) scale(1);
    }
    100% {
      opacity: 0;
      transform: rotateZ(360deg) scale(0.3);
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: rotateZ(0deg) scale(0.3);
    }
    100% {
      opacity: 1;
      transform: rotateZ(360deg) scale(1);
    }
  }

  .mobile-menu {
    width: 100vw;
    background-color: #fff;

    position: fixed;
    top: 4rem;
    left: 0;

    display: flex;
    flex-direction: column;

    box-shadow: 0 2px 2px #aaa;
    transition: 0.5s;
    overflow: hidden;

    .item {
      font-size: 1.2rem;
      line-height: 3rem;
      padding-left: 3rem;
    }

    &.hide {
      max-height: 0px;
    }

    &.unhide {
      max-height: 19rem;
    }

    .apply-now {
      height: 2rem;
      width: 7rem;
      line-height: calc(2rem - 3px);
      font-weight: bolder;
      font-size: 0.8rem;
      border: 1.5px solid $smart;
      color: $smart;

      margin-left: 3rem;
      margin-bottom: 1rem;
      margin-top: 1rem;
      padding: 0;
      text-align: center;
      &:hover {
        background-color: $smart;
        color: #fff;
      }
    }
  }

  .web-menu {
    display: none;
  }

  @media screen and (min-width: 768px) {
    .btn-ctn {
      display: none;
    }
    .mobile-menu {
      display: none;
    }

    .web-menu {
      display: flex;
      flex-grow: 1;
      align-items: center;
      
      .item {
        font-size: 1rem;
        line-height: 3rem;
        padding: 0 1rem;
        height: 3rem;
        border-radius: 0px;

        position: relative;

        &.active {
          &::after {
            max-width: 1rem;
          }
        }

        &::after {
          content: "";
          background-color: $smart;

          width: calc(100% - 2rem);
          height: 3px;
          max-width: 0;

          position: absolute;
          left: 1rem;
          bottom: 0.5rem;

          transition: 0.5s;
        }

        &:hover::after {
          max-width: 100%;
        }
      }

      .apply-now {
        height: 2rem;
        line-height: calc(2rem - 4px);
        font-weight: bolder;
        font-size: 0.8rem;
        border: 1.5px solid $smart;
        color: $smart;

        margin: 1rem 3rem 1rem 0;

        &:hover {
          background-color: $smart;
          color: #fff;
        }
      }
    }
  }
}
