@import "../variables";

html {
  scroll-behavior: smooth;
}

.home {
  section {
    &#objective {
      scroll-margin: 4rem;
      padding-top: 0;
    }
    &.cover {
      // height: calc(100vh - 4rem);
      .content {
        flex-direction: column-reverse;
        .left {
          .title {
            color: $smart;
            font-size: 2rem;
          }

          .description {
            margin-bottom: 0;
          }

          .btn-ctn {
            .item {
              width: 10rem;
              padding: 0;

              & + .item {
                margin-left: 1rem;
              }
              .icon {
                flex-basis: 3rem;
                height: 3rem;
                width: 3rem;

                background-size: contain;
                background-repeat: no-repeat;

                margin-right: 1rem;
              }

              .label {
                flex-basis: calc(100% - 4rem);
                height: 3rem;
                line-height: 3rem;
              }
            }
          }
        }
      }

      .right {
        margin: -2rem -3rem;

        margin-bottom: 2rem;

        .video {
          width: 100vw;
          height: calc(100vw / 16 * 9);
        }
      }

      .image {
        width: 100vw;
        height: 100vw;

        display: none;

        background-color: #eee;
        background-position: center 0;

        margin: -2rem -3rem;
        margin-bottom: 2rem;
      }
    }

    .container {
      display: grid;
      grid-gap: 2rem 4rem;
      grid-template-columns: calc(50% - 2rem) calc(50% - 2rem);

      .col {
        .row {
          align-items: flex-end;

          margin-bottom: 1rem;

          .icon {
            width: 4rem;
            height: 4rem;
            flex-basis: 4rem;
            margin-right: 1rem;
          }

          .subtitle {
            flex-basis: calc(100% - 5rem);
            font-size: 1.3rem;
            color: $smart;
          }
        }
      }
    }
  }

  .our-objective {
  }

  .our-values {
    color: #fff;
    background-color: $smart;

    .subtitle {
      color: #fff !important;
    }
  }

  .investment-portfolio {
    .image {
      width: 100%;
    }
  }

  .application-process {
    .container {
      .col {
        .number {
          font-size: 4rem;
          font-weight: bold;

          margin-bottom: 1rem;
        }

        .subtitle {
          color: $smart;
          text-transform: uppercase;
          font-weight: bold;

          margin-bottom: 1rem;
        }
      }
    }

    .apply-now {
      border: 2px solid $smart;
      font-weight: bold;
      color: $smart;
      width: 12rem;
      align-self: center;
      font-size: 0.8rem;
      line-height: calc(3rem - 2px);
      text-align: center;

      &:hover {
        background-color: $smart;
        color: #fff;
      }
    }
  }

  @media screen and (min-width: 768px) {
    section {
      &#objective {
        padding-top: 5vw;
      }
      &.cover {
        height: unset;
        flex-direction: column-reverse;
        .content {
          width: 100%;
          height: calc(100vh - 4rem - 10vw);

          display: flex;
          flex-direction: row;
          justify-content: space-between;

          .left {
            flex-basis: 40%;
            justify-content: center;
            .title {
              color: $smart;
              font-size: 2rem;
              text-align: left;
            }
          }

          .right {
            flex-basis: 55%;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .video {
              width: 100%;
              height: calc(90vw * 0.55 / 16 * 9);
            }
          }
        }
        .image {
          width: 100vw;
          height: 80vh;
          display: block;

          background-color: #eee;
          background-position: center 0;

          margin: -5vw -10vw;
          margin-top: 5vw;
        }
      }

      > .description {
        padding: 0 10vw;
        margin-bottom: 5rem;
      }

      .container {
        grid-template-columns:
          calc(25% - (6rem / 4))
          calc(25% - (6rem / 4))
          calc(25% - (6rem / 4))
          calc(25% - (6rem / 4));
      }

      &.hover {
        .container {
          grid-gap: 2rem;

          &.yellow {
            .item {
              background-color: $smart-yellow;
              &::after{
                background-color: $smart;
              }

              .row{
                background-color: $smart;
              }

              .col.description{
                color: #404040;
              }
            }
          }
          
          .item {
            position: relative;
            height: 10rem;
            background-color: $smart;

            padding: 1rem;
            transition: 0.35s;

            &::after {
              content: "";
              background-color: #fff;

              position: absolute;
              width: 3rem;
              height: 3rem;
              top: -2.1rem;
              right: 0;
              transform: skewY(30deg);
            }

            &:hover {
              .row {
                opacity: 0;
              }
              .col.description {
                p {
                  max-height: 8rem;
                }
              }
            }

            .row {
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              margin-bottom: 0;

              align-items: center;
              background-color: #fff;
              z-index: 1;
              cursor: pointer;

              transition: 0.5s;

              .icon {
                margin-left: 1rem;
              }

              .subtitle {
                flex-basis: calc(100% - 6rem);
              }
            }

            .col.description {
              justify-content: center;

              height: 100%;
              color: #fff;

              margin-bottom: 0;

              p {
                max-height: 0;
                overflow: hidden;

                transition: 0.5s 0.3s;
              }
            }
          }
        }
      }
    }

    .application-process {
      .container {
        grid-template-columns: auto auto auto;
      }
    }
  }
}
