@import "../variables";
.investee {
  .investee-listing {
    display: none;
  }

  .investee-swiper {
    display: block;

    .title {
      line-height: 2rem;
      margin-bottom: 1rem;
    }

    .swiper-container {
      width: 100%;
      height: calc(100vh - 4rem - 4rem - 4rem - 4rem);

      .swiper-pagination-bullet-active {
        background-color: $smart;
      }

      .ctn {
        width: 100%;
        height: 100%;

        padding: 5px;
        padding-bottom: 3rem;

        .card {
          width: 100%;
          height: 100%;
          border-radius: 3rem;
          box-shadow: 0 0 5px #aaa;

          background-color: #fff;

          .image {
            width: 100%;
            height: 40%;
            border-radius: 3rem 3rem 0 0;
            border-bottom: 1px solid #aaa;

            background-size: 101%;
          }

          .content {
            flex-grow: 1;
            justify-content: center;
            padding: 2rem 3rem;

            position: relative;

            .logo {
              height: 3rem;
              width: 100%;

              background-size: contain;
              background-position: 0 center;
              background-repeat: no-repeat;

              margin-bottom: 1rem;
            }

            .title {
              font-size: 1.5rem;
              line-height: 2rem;

              margin-bottom: 1rem;
            }

            .detail {
              margin-bottom: 1rem;
              .icon {
                flex-basis: 3rem;
                width: 3rem;
                height: 3rem;
              }

              .info {
                flex-basis: calc(100% - 3rem - 1rem);
                display: flex;
                flex-direction: column;
                justify-content: center;

                margin-left: 1rem;
              }

              &.website {
                cursor: pointer;
              }
            }

            .label {
              font-weight: bold;
              position: absolute;
              top: -4rem;
              right: 1rem;

              width: 3rem;
              height: 3rem;

              background-size: contain;
              background-repeat: no-repeat;
              background-origin: content-box;

              border-radius: 50%;

              padding: 0px;
            } 
          }
        }
      }
    }
  }

  @media screen and (min-width: 768px) {
    .investee-swiper {
      display: none;
    }

    .investee-listing {
      display: flex;
      .title {
        text-align: left;
      }

      .investee-item {
        margin-bottom: 5vw;
        .logo {
          height: 4rem;
          width: 15rem;

          background-size: contain;
          background-position: 0 center;
          background-repeat: no-repeat;

          margin-bottom: 1rem;
        }

        .row {
          .left {
            flex-basis: calc(100% - 28.44rem - 5vw);
            width: 100%;
            margin-right: 5rem;

            .title {
              font-size: 1.2rem;
              line-height: 2rem;

              margin-bottom: 2rem;
            }

            .detail {
              margin-bottom: 1rem;

              .icon {
                flex-basis: 3rem;
                width: 3rem;
                height: 3rem;
              }

              .info {
                flex-basis: calc(100% - 3rem - 1rem);
                display: flex;
                flex-direction: column;
                justify-content: center;

                margin-left: 1rem;
              }

              &.website {
                cursor: pointer;
              }
            }

            .submit {
              flex-basis: 2.5rem;
              line-height: 2.5rem;
              font-weight: bold;
              color: #fff;
              background-color: $smart;
              width: 7rem;
              padding: 0 0.5rem;
            }
          }

          .image {
            flex-basis: calc(18.5rem / 9 * 16);
            width: calc(18.5rem / 9 * 16);
            height: 18.5rem;
            background-size: cover;
            background-repeat: no-repeat;

            background-color: #eee;
          }
        }
      }
    }
  }
}
