@import "../variables";

.press-detail {
  section {
    &.container {
      .date {
        margin-bottom: 0.5rem;
      }

      .title {
        text-align: left;
      }

      .description {
        text-align: left;
        line-height: 1.5rem;
      }

      .image {
        width: 100%;
        padding-bottom: calc(100% / 16 * 9);

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        background-color: #eee;
        margin-bottom: 2rem;
      }

      .content {
        margin-bottom: 2rem;
      }
    }
  }
}
