@import "../variables";

.press {
  .title {
    margin-bottom: 2rem;
  }

  .press-listing {
    .press-item {
      width: 100%;
      height: 15rem;
      justify-content: space-between;

      margin-bottom: 2rem;
      .image {
        flex-basis: 15rem;
        width: 15rem;
        height: 15rem;
        background-color: #eee;

      }

      .info {
        width: calc(100% - 17rem);
        flex-basis: calc(100% - 17rem);
        .date {
          flex-basis: 1rem;
          line-height: 1rem;
          margin-bottom: 0.5rem;
        }

        .title {
          flex-basis: 2rem;
          line-height: 2rem;
          height: 2rem;
          width: calc(100%);

          margin-bottom: 2rem;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        .description {
          flex-basis: 4.5rem;
          line-height: 1.5rem;

          overflow: hidden;
        }

        .submit {
          flex-basis: 2.5rem;
          line-height: 2.5rem;
          font-weight: bold;
          color: #fff;
          background-color: $smart;
          width: 7rem;
          padding: 0 0.5rem;
        }
      }
    }
  }

  @media screen and (min-width: 768px) {
    .press-listing {
      .title {
        text-align: left;
      }

      .press-item {
        .image {
          flex-basis: calc(15rem / 9 * 16);
          width: calc(15rem / 9 * 16);
        }

        .info {
          width: calc(100% - (15rem / 9 * 16) - 4rem);
          flex-basis: calc(100% - (15rem / 9 * 16) - 4rem);

          .title{
            width: 100%;
          }

          .description{
            line-height: 1.5rem;
            height: 4.5rem;
          }
        }
      }
    }
  }
}
