body.admin {
  padding: 0;
}

.admin {
  .capitalize{
    text-transform: capitalize;
  }

  .bold{
    font-weight: bold;
  }
  nav {
    a.nav {
      font-size: 1.2rem;
      &.logo {
        width: 10rem;
        height: 3rem;

        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
  .dashboard {
    .covers {
      width: 100%;

      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      .card {
        flex-basis: 18%;
        padding: 1rem;
        overflow: hidden;

        margin-bottom: 2rem;

        .image {
          width: 100%;
          padding-bottom: 100%;

          background-color: #eee;
          margin-bottom: 1rem;
        }

        .input {
          margin-bottom: 1rem;
        }

        &.portfolio{
          flex-basis: 100%;

          .image{
            height: 10rem;
            padding-bottom: 0;
          }
        }
      }
    }
  }

  .application{
    padding: 2rem;
    font-size: 1.2rem;
    .link{
      font-weight: bold;
      color: $smart;
      cursor: pointer;
    }

    .question,.label{
      font-weight: bold;
    }
    .answer{
      margin-left: 1rem;
      margin-bottom: 2rem;
    }
  }
}
